<div class="mb-12 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-4">
  <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
    <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-blue-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6 text-white">
        <path fill-rule="evenodd" d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z" clip-rule="evenodd"></path>
      </svg>
    </div>
    <div class="p-4 text-right">
      <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Cuentas Creadas</p>
      <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">859</h4>
    </div>
    <div class="border-t border-blue-gray-50 p-4">
      <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
        <strong class="text-green-500">+55%</strong>&nbsp;than last week
      </p>
    </div>
  </div>
  <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
    <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-pink-600 to-pink-400 text-white shadow-pink-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6 text-white">
        <path d="M12 2a5 5 0 11-.001 10.001A5 5 0 0112 2zm-7 9a3 3 0 100-6 3 3 0 000 6zm14 0a3 3 0 100-6 3 3 0 000 6zM2 18c0-2.21 1.79-4 4-4h12c2.21 0 4 1.79 4 4v2H2v-2zm7.5-2a2.5 2.5 0 110 5 2.5 2.5 0 010-5z" />
      </svg>

    </div>
    <div class="p-4 text-right">
      <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Docentes Registrados</p>
      <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">2,300</h4>
    </div>
    <div class="border-t border-blue-gray-50 p-4">
      <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
        <strong class="text-green-500">+3%</strong>&nbsp;than last month
      </p>
    </div>
  </div>
  <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
    <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-green-600 to-green-400 text-white shadow-green-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6 text-white">
        <path d="M4 3a2 2 0 00-2 2v14a2 2 0 002 2h14a2 2 0 002-2V5a2 2 0 00-2-2H4zm14 2v14H4V5h14zM6 7h8a1 1 0 010 2H6a1 1 0 110-2zm0 4h8a1 1 0 110 2H6a1 1 0 110-2z" />
      </svg>



    </div>
    <div class="p-4 text-right">
      <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Cursos</p>
      <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">3,462</h4>
    </div>
    <div class="border-t border-blue-gray-50 p-4">
      <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
        <strong class="text-red-500">-2%</strong>&nbsp;than yesterday
      </p>
    </div>
  </div>
  <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
    <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-orange-600 to-orange-400 text-white shadow-orange-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6 text-white">
        <path d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z"></path>
      </svg>
    </div>
    <div class="p-4 text-right">
      <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Dinero Generado</p>
      <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">$103,430</h4>
    </div>
    <div class="border-t border-blue-gray-50 p-4">
      <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600">
        <strong class="text-green-500">+5%</strong>&nbsp;than yesterday
      </p>
    </div>
  </div>
</div>



<div class="mb-12 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-2">
  <!-- 1. Diario por un mes -->
  <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
    <apx-chart
      [series]="getLineChartOptions().series"
      [chart]="getLineChartOptions().chart"
      [xaxis]="getLineChartOptions().xaxis"
      [title]="getLineChartOptions().title">
    </apx-chart>
  </div>
  <!-- 2. Por suscripción diario (una semana) -->
  <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
    <apx-chart
      [series]="getWeeklyBarChartOptions().series"
      [chart]="getWeeklyBarChartOptions().chart"
      [xaxis]="getWeeklyBarChartOptions().xaxis"
      [title]="getWeeklyBarChartOptions().title">
    </apx-chart>
  </div>

  <!-- 3. Por suscripción semanal (un mes) -->
  <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
    <apx-chart
      [series]="getMonthlyBarChartOptions().series"
      [chart]="getMonthlyBarChartOptions().chart"
      [xaxis]="getMonthlyBarChartOptions().xaxis"
      [title]="getMonthlyBarChartOptions().title">
    </apx-chart>
  </div>

  <!-- 4. Porcentaje de cuentas -->
  <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
    <apx-chart
      [series]="getPieChartOptions().series"
      [chart]="getPieChartOptions().chart"
      [labels]="getPieChartOptions().labels"
      [title]="getPieChartOptions().title">
    </apx-chart>
  </div>

  <!-- 5. Por suscripción mensual (un año) -->
  <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
    <apx-chart
      [series]="getAnnualBarChartOptions().series"
      [chart]="getAnnualBarChartOptions().chart"
      [xaxis]="getAnnualBarChartOptions().xaxis"
      [title]="getAnnualBarChartOptions().title">
    </apx-chart>
  </div>

  <!-- 6. Por suscripción anual (una década) -->
  <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
    <apx-chart
      [series]="getAnnualBarChartOptions().series"
      [chart]="getAnnualBarChartOptions().chart"
      [xaxis]="getAnnualBarChartOptions().xaxis"
      [title]="getAnnualBarChartOptions().title">
    </apx-chart>
  </div>
</div>












