<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <div class="box">
      <div class="light left"></div> <!-- Luz que se moverá a la izquierda -->
      <div class="light right"></div> <!-- Luz que se moverá a la derecha -->
      <div class="from">
        <h2>Iniciar Sesión</h2>
        <div class="inputBox">
          <ion-item>
            <ion-label position="floating">Correo Electrónico</ion-label>
            <ion-input type="email" required></ion-input>
          </ion-item>
        </div>
        <div class="inputBox">
          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" required></ion-input>
          </ion-item>
        </div>
        <ion-button (click)="AppGod()" expand="full">Iniciar Sesión</ion-button>
        <div class="register-link">
          <a [routerLink]="['/registrarse']">¿No tienes una cuenta? Regístrate</a>
        </div>
      </div>
    </div>
  </ion-content>


