<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="secondary">
      <ion-button (click)="irAPerfil()">
        <img src="assets/icon/hacker (1).svg" alt="Perfil" style="width: 32px; height: 32px; border-radius: 50%;">
      </ion-button>
    </ion-buttons>
    <ion-title>Explorar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Explorar</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Barra de búsqueda -->
  <div class="search-container">
    <!-- Barra de búsqueda -->
    <ion-searchbar
      [(ngModel)]="searchQuery"
      (ionInput)="onSearch()"
      (focus)="onFocus()"
      (blur)="onBlur()"
      animated="true"
      placeholder="¿Qué deseas aprender?">
    </ion-searchbar>

    <!-- Sugerencias debajo de la barra de búsqueda -->
    <div class="keywords-suggestions" *ngIf="showSuggestions">
      <div class="suggestion-list">
        <div class="suggestion-item" *ngFor="let keyword of keywords" (click)="onKeywordClick(keyword)">
          {{ keyword }}
        </div>
      </div>
    </div>
  </div>



  <!-- Filtros -->
  <div class="filters-section">
    <ion-segment (ionChange)="onFilter($event)" value="all">
      <ion-segment-button value="all">
        <ion-label>Todos</ion-label>
      </ion-segment-button>
      <ion-segment-button value="routes">
        <ion-label>Rutas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="courses">
        <ion-label>Cursos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <!-- Palabras clave más buscadas -->

</ion-content>
