<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">CuerpoApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" (click)="animateIcon('home')">
        <ion-icon name="home" #homeIcon></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="explorar" (click)="animateIcon('explorar')">
        <ion-icon name="book" #explorarIcon></ion-icon>
        <ion-label>Explorar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="rutas" (click)="animateIcon('rutas')">
        <ion-icon name="cart-sharp" #rutasIcon></ion-icon>
        <ion-label>Pagos</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="perfil" (click)="animateIcon('perfil')">
        <ion-icon name="person-circle" #perfilIcon></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
