.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%; // Asegura que ocupe toda la altura del contenido
}
//ion-content { Cambiar de color a la ventaja general

  //--background: radial-gradient(circle at 52.85% 82.53%, #b063ff 0, #7b49ff 25%, #1e2ef3 50%, #001add 75%, #0015cb 100%);
//}
