ion-grid {
  display: flex;
  justify-content: center; /* Centra los cards horizontalmente */
  align-items: center; /* Centra los cards verticalmente */
  flex-wrap: wrap; /* Permite que las tarjetas se ajusten cuando el espacio es limitado */
  height: 20vh; /* Ajusta la altura del grid */
}

ion-card {
  flex: 0 0 calc(30% - 10px); /* Los cards se toman el 30% del ancho disponible */
  margin: 5px; /* Espacio entre las tarjetas */
  max-width: 100%; /* Asegura que las tarjetas no se desborden */
  width: 300px;
  height: 110px;
  background: #1d2023; /* Color de fondo negro */
}
ion-card:nth-child(2) {
  flex: 0 0 calc(40% - 10px); /* El card del medio ocupa más espacio (40%) */
}

ion-card-header {
  text-align: center;
}

ion-card-content {
  text-align: center;
  font-size: 1.2em;
}

ion-avatar {
  --border-radius: 4px;
}

ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
ion-card-title{
  font-size: 1em;
}
ion-modal ion-toolbar {
  --background: rgb(13, 87, 224);
  --color: white;
}

.custom-button {
  --background: #1e2a38; /* Color de fondo oscuro */
  --border-radius: 5px; /* Bordes redondeados */
  --padding-start: 16px;
  --padding-end: 16px;
  --color: #ebe7e7; /* Color del texto */
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para un efecto elevado */
  text-transform: none; /* Evita que el texto esté en mayúsculas */
  justify-content: flex-start; /* Alinea el contenido a la izquierda */
  height: 80px; /* Ajusta la altura del botón */
  font-size: 15px; /* Aumenta el tamaño de la fuente */
  margin-bottom: 8px; /* Espacio adicional debajo de cada botón */
  width: 90%; /* Reduce el ancho del botón */
  max-width: 400px; /* Establece un ancho máximo opcional */
  margin-left: auto;
  margin-right: auto;
}

.custom-button ion-icon[slot="end"] {
  font-size: 24px; /* Aumenta el tamaño del icono */
  color: #b0bec5; /* Color del icono de flecha */
  margin-left: auto; /* Mueve el icono al extremo derecho */
}
.custom-button ion-icon[slot="start"] {
  font-size: 24px; /* Aumenta el tamaño del icono */
  color: #b0bec5; /* Color del primer icono */
  margin-right: 12px; /* Espacio entre el primer icono y el texto */
}

.custom-button:hover {
  --background: #2c3e50; /* Color al pasar el mouse (hover) */
  transition: 0.3s;
}
.button-row {
  margin-bottom: -10px; /* Espacio adicional debajo de cada botón */
  margin-top: -10px; /* Margen superior de cada botón */
  margin-left: 5px;
  margin-right:5px;
}
