<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/cuerpo-app/perfil']"></ion-back-button>
    </ion-buttons>
    <ion-title>Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Notificaciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let mensaje of mensajes">
      <!-- Usar un ícono de correo -->
      <ion-icon slot="start" name="mail-outline" style="font-size: 40px;"></ion-icon> <!-- Ícono de mensaje tipo correo -->
      <ion-label>
        <h2>{{ mensaje.titulo }}</h2>
        <p>{{ mensaje.descripcion }}</p>
      </ion-label>

      <!-- Botón para marcar como leída (Ícono de 'visto') -->
      <ion-button fill="clear" slot="end" (click)="marcarLeido(mensaje)">
        <ion-icon name="checkmark-done-outline"></ion-icon> <!-- Ícono para marcar como leído -->
      </ion-button>

      <!-- Alternativa: botón para agregar a favoritos (estrella) -->
      <ion-button fill="clear" slot="end" (click)="agregarFavorito(mensaje)">
        <ion-icon name="star-outline"></ion-icon> <!-- Ícono para agregar a favoritos -->
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
